parameters:
    level: 9
    excludePaths:
        analyse:
            - ../../runtime/laravel.php
    paths:
        - ../../runtime
        - ../../packages/contracts/src
        - ../../packages/http/src
        - ../../packages/socket/src
        - ../../packages/http-psr/src
        - ../../packages/http-testing/src
        - src
        - tests/ProbeTest.php
        - tests/HttpClientSecurityTest.php
        - tests/ApiTest.php
